@use "~styles/variables";

.draggable {
  --border-color: #{variables.$borderColor};
  position: absolute;
  color: variables.$textColor;
  z-index: 50;
}

.isPressed {
  --border-color: #{variables.$primaryColor};
  user-select: none;
}

.moveableHandle {
  border: 1px solid var(--border-color);
  border-top-left-radius: variables.$borderRadius;
  border-top-right-radius: variables.$borderRadius;
  height: 1.5rem;
  background: #ddd;
}

.isPressed .moveableHandle {
  background: variables.$primaryColor;
}

.moveableContent {
  margin-top: -1px;
  border: 1px solid var(--border-color);
  border-bottom-left-radius: variables.$borderRadius;
  border-bottom-right-radius: variables.$borderRadius;
  padding: 2rem;
  background: variables.$backgroundColor;
}
