@use "../variables";

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  display: block;
  border: 1px solid variables.$borderColor;
  border-radius: variables.$borderRadius;
  padding: 0.5rem;
}

.fullWidth {
  width: 100%;
}
