@use "~styles/variables";

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: variables.$borderRadius;
  padding: 0.5rem 1rem;
}

.primary {
  color: #fff;
  background-color: variables.$primaryColor;
}

.neutral {
  border-color: variables.$borderColor;
  color: variables.$textColor;
  background-color: variables.$neutralColor;
}

.fullWidth {
  display: block;
  width: 100%;
}
